**/node_modules/

**/package-lock.json
**/yarn.lock
**/pnpm-lock.yaml

npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.log
*.out
*.pid
*.seed
*.cover
*.DS_Store

dist/
build/
coverage/
.next/

**/docker-compose.override.yml
**/.dockerignore
**/Dockerfile.dev
docker-data/

.env
.env.local
.env.development
.env.production
.env.test
.env*.local

.vscode/
.idea/

**/.nyc_output
**/jest-coverage
**/coverage
**/.jest-cache
**/.eslintcache

logs/
*.tsbuildinfo
